<h1>Editing gaming session</h1>

<%= render "form", gaming_session: @gaming_session %>

<br>

<div>
  <%= link_to "Show this gaming session", @gaming_session %> |
  <%= link_to "Back to gaming sessions", gaming_sessions_path %>
</div>
