<% content_for :title, "Editing gaming session" %>

<div class="container">
  <div class="row">
    <div class="col">
      <%= render "form", gaming_session: @gaming_session %>
    </div>
  </div>
</div>