<% content_for :title, "Gaming sessions" %>

<h1>Gaming sessions</h1>

<div id="gaming_sessions">
  <% @gaming_sessions.each do |gaming_session| %>
    <%= labelled_attribute("Gaming group", gaming_session.gaming_group.name) %>

    <p>
      <%= link_to "Show this gaming session", gaming_group_gaming_session_path(@gaming_group, gaming_session) %>
    </p>
  <% end %>
</div>

<%= link_to "New gaming session", new_gaming_group_gaming_session_path(@gaming_group) %>