<% content_for :title, "Gaming sessions" %>

<h1>Gaming sessions</h1>

<div id="gaming_sessions">
  <% @gaming_sessions.each do |gaming_session| %>
    <%= render gaming_session %>
    <p>
      <%= link_to "Show this gaming session", gaming_session %>
    </p>
  <% end %>
</div>

<%= link_to "New gaming session", new_gaming_session_path %>