<div class="container">
  <div class="row">
    <div class="col">
      <%= render RecordShowWrapperComponent.new(
        record: @gaming_session,
        title: @gaming_session.to_s,
        menu_options: [
          { 
            text: "Edit",
            link: edit_gaming_session_path(@gaming_session)
          },
          {
            text: "Delete",
            link: gaming_session_path(@gaming_session),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          }
        ]
      ) do |component| %>

        <% component.with_body do %>

          <%= render @gaming_session %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>