<div class="form-row unit-stat-definition-form">
  <%= unit_trait_category_select(form, :unit_trait_category_id, game_system) %>
  <%= precedence_select(form, :order) %>
  <%= form.check_box(:_destroy) %>
  <%= form.hidden_field :id %>
</div>
