<%= form_with(model: team, url: [@gaming_group, team]) do |form| %>

  <%= render RecordFormWrapperComponent.new(record: team, form:) do |component| %>

    <% component.with_form_box do %>

      <div class="form-floating">
        <%= form.text_field :name, class: "form-control", placeholder: "Your Groups Name" %>
        <%= form.label :name %>
      </div>
    <% end %>
  <% end %>
<% end %>
