<div class="<%= box_classes %>">
  <div class="standard-box_header mb-2">
    <div class="standard-box_header-text">
      <h3><%= @title %></h3>
    </div>
    <% if menu %>
      <div class="standard-box_menu">
        <%= menu %>
      </div>
    <% end %>
  </div>
  <div class="standard-box-content">
    <%= body %>
  </div>
</div>