<div class="card-with-menu card mb-1">
  <div class="card-header">
    <div class="card-with-menu__header">
      <div class="card-with-menu__header-title">
        <h5 class="card-title"><%= @title %></h5>
        <% if @subtitle %>
          <h6 class="card-subtitle text-body-secondary"><%= @subtitle %></h6>
        <% end %>
      </div>
      <div class="card-with-menu__header-menu">
        <% if @menu_options %>
          <%= render Common::MenuButtonComponent.new(menu_options: @menu_options) %>
        <% end %>
      </div>
    </div>
  </div>
  <% if body %>
    <div class="card-body">
      <div class="card-with-menu__content">
        <%= body %>
      </div>
    </div>
  <% end %>
</div>