<p>
  <strong>Name:</strong>
  <%= unit_stat_modifier.name %>
</p>
<p>
  <strong>Cost:</strong>
  <%= unit_stat_modifier.cost %>
</p>
<p>
  <strong>Active:</strong>
  <%= unit_stat_modifier.active %>
</p>


