<% content_for :title, "Editing unit stat modifier" %>

<div class="container">
  <div class="row">
    <div class="col">
      <%= render "form", unit_stat_modifier: @unit_stat_modifier %>
    </div>
  </div>
</div>