<% content_for :title, "Articles" %>

<div id="articles">
  <%= turbo_frame_tag :articles do %>
    <ul class="list-group mb-2">
      <% @articles.each do |article| %>
          <%= render Articles::ListItemComponent.new(article:) %>
      <% end %>
    </ul>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>
</div>
