<%= render WorldViews::WrapperComponent.new(
  record: @article,
) do |component| %>

  <% component.with_header do %>
    <h1><%= @article.title %></h1>
  <% end %>


  <% component.with_body do %>
    <% @article.sections.each do |section| %>
      <%= render WorldItemData::Views::TextSectionComponent.new(section:) %>
      <hr />
    <% end %>
  <% end %>
<% end %>
