<nav class="navbar" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div>
      <strong>Editing world:</strong> <%= link_to current_world.name, current_world %>
    </div>
  </div>
</nav>
