<p>
  <strong>Name:</strong>
  <%= army_list.name %>
</p>
<p>
  <strong>Details:</strong>
  <%= army_list.details %>
</p>
<p>
  <strong>Army:</strong>
  <%= army_list.army_id %>
</p>
<p>
  <strong>Cost:</strong>
  <%= army_list.cost %>
</p>


