<p>
  <strong>Name:</strong>
  <%= army_list.name %>
</p>
<p>
  <strong>Remaining Cost:</strong>
  <%= army_list.remaining_cost %>
</p>
<p>
  <strong>Game System:</strong>
  <%= army_list.game_system.name %>
</p>

