<% content_for :title, "Organisations" %>

<div id="organisations">
  <%= turbo_frame_tag :organisations do %>
    <ul class="list-group mb-2">
      <% @organisations.each do |organisation| %>
          <%= render Organisations::ListItemComponent.new(organisation:) %>
      <% end %>
    </ul>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>
</div>
