<%= render WorldViews::WrapperComponent.new(
  record: @organisation,
) do |component| %>

  <% component.with_header do %>
    <h1><%= @organisation.name %></h1>
  <% end %>

  <% component.with_body do %>
    <h3>Description</h3>
    <%= render TextEditorRenderComponent.new(model: @organisation, attribute: :description) %>
    <hr>

    <h3>History</h3>
    <%= render TextEditorRenderComponent.new(model: @organisation, attribute: :history) %>
  <% end %>
<% end %>
