<div class="army-selector mb-3" data-controller="army-selector" 
  data-army-selector-player-index-value="<%= @player_index %>">
  <div id="player_armies">
    <%= @form.fields_for :player_armies do |army_form| %>
      <%= render partial: "player_armies/form_row", locals: {
        form: army_form,
        game_system: @game_system
      } %>
    <% end %>
  </div>

  <%= link_to "Add Army", 
    add_army_row_player_path(@player, game_system_id: @game_system.id, player_index: @player_index), 
    class: ['btn', 'btn-secondary'],
    data: {turbo_frame: :player_armies, turbo_stream: true} %>
</div>