<h1>Editing game system</h1>

<%= render "form", game_system: @game_system %>

<br>

<div>
  <%= link_to "Show this game system", @game_system %> |
  <%= link_to "Back to game systems", game_systems_path %>
</div>
