<% content_for :title, "Game systems" %>

<h1>Game Systems</h1>

<div id="game_systems">
  <% @game_systems.each do |game_system| %>
    <%= render game_system %>
    <p>
      <%= link_to "Show this system", game_system %>
    </p>
  <% end %>
</div>

<%= link_to 'New Wargame', new_game_systems_wargame_path %>