<div class="container">
  <div class="row">
    <div class="col">
      <%= render RecordShowWrapperComponent.new(
        record: @game_system,
        title: @game_system.to_s,
        menu_options: [
          { 
            text: "Edit",
            link: edit_game_system_path(@game_system)
          },
          {
            text: "Delete",
            link: game_system_path(@game_system),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          }
        ]
      ) do |component| %>

        <% component.with_body do %>

          <%= render @game_system %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>