<%= render StandardLayoutBoxComponent.new(title: @title) do |component| %>

  <% component.with_body do %>
    <%= render ErrorPanelComponent.new(
      model_name: @record.model_name.human, 
      errors: @record.errors) %>

    <div class="record-form-wrapper__fields">
      <%= fields %>
    </div>

    <div class="mt-2">
      <%= @form.submit(class: "btn btn-primary") %>
    </div>

  <% end %>
<% end %>