.aic-title-with-buttons {
  @include component-spacing;

  display: flex;
  flex-direction: row;

  .content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }
  
  .buttons {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
  }
}
