
<%= render Common::HeaderCardComponent.new(title: @game.campaign.name, subtitle: "Session: #{@game.campaign_session_number}") %>

<div class="d-flex flex-row gap-2">
  <%= render Characters::BadgeComponent.with_collection(@game.campaign.player_characters, game: @game) %>
</div>

<%= render GameControlComponent.new(game: @game, player: @current_user_player) %>
