<div class="container">
  <div class="row">
    <div class="col">

      <%= link_to "Back to session", @game.gaming_session %>

      <%= render RecordShowWrapperComponent.new(
        record: @game,
        title: @game.game_system.name,
        menu_options: [
          { 
            text: "Edit",
            link: edit_game_path(@game)
          },
          {
            text: "Delete",
            link: game_path(@game),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          }
        ]
      ) do |component| %>

        <% component.with_body do %>

          <%= render @game %>

          <%= render GameFormComponent.new(game: @game) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>