<% content_for :title, @title %>

<div id="characters">
  <%= turbo_frame_tag :characters do %>
    <ul class="list-group">
      <% @characters.each do |character| %>
        <%= render Characters::ListItemComponent.new(character:) %>
      <% end %>
    </ul>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>
</div>
