<ul class="nav nav-tabs" id="<%= @id %>" role="tablist">
  <% tabs.each do |tab| %>
    <%= tab.tab_html %>
  <% end %>
</ul>
<div class="tab-content p-2" id="<%= @id %>-content">
  <% tabs.each do |tab| %>
    <%= tab %>
  <% end %>
</div>