<% content_for :title, "Armies" %>

<h1>Armies</h1>

<div id="armies">
  <%= turbo_frame_tag :armies do %>
    <% @armies.each do |army| %>
      <%= render Common::CardWithMenuComponent.new(title: army.name,
        menu_options: [
          {link: edit_army_path(army), text: "Edit", target: "_top"}
          ]) do |card| %>
      <% end %>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>
</div>

<%= link_to "New army", new_army_path %>