<div class="container">
  <div class="row">
    <div class="col">
      <%= render RecordShowWrapperComponent.new(
        record: @army,
        title: @army.name,
        menu_options: [
          { 
            text: "Edit",
            link: edit_army_path(@army)
          },
          {
            text: "Delete",
            link: army_path(@army),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          }
        ]
      ) do |component| %>

        <% component.with_body do %>

          <%= render @army %>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <%= render ArmyListComponent.new(army: @army)%>
    </div>
  </div>
</div>