<% content_for :title, "Editing unit template" %>

<div class="container">
  <div class="row">
    <div class="col">
      <%= render "form", unit_template: @unit_template %>
    </div>
  </div>
</div>