<% content_for :title, "Unit templates" %>

<h1>Unit templates</h1>

<div id="unit_templates">
  <%= turbo_frame_tag :unit_templates do %>
    <% @unit_templates.each do |unit_template| %>
      <%= render UnitTemplates::CardComponent.new(unit_template:) %>
    <% end %>
  <% end %>
</div>

<%= link_to "New unit template", new_unit_template_path %>