.turn-grid {
  width: 100%;

  &__cell {

    &-total {
      text-align: right;
    }

    &-counter {
     vertical-align: middle;
     text-align: center;
    }

    &-player {
      text-align: center;
    }
  }
}

.game-turns {
  display: flex;
  flex-direction: column;

  .game-turn-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}