<%% content_for :title, "Editing <%= human_name.downcase %>" %>

<div class="container">
  <div class="row">
    <div class="col">
      <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>
    </div>
  </div>
</div>