<div class="player-army-row form-row">
  <%= form.hidden_field :id %>
  <div>
    <%= army_select(game_system, form, :army_id) %>
  </div>
  <div>
    <%= army_list_select(game_system, form, :army_list_id) %>
  </div>
  <div class="form-row__no-grow"> 
    <%= form.check_box "_destroy", label: "Remove" %>
  </div>
</div>
