.game-control {

  &__window{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__sub-window {
    display: none;
    flex-basis: 30%;
    flex-direction: row;
    gap: 1px;

    &.show {
      display: flex;
    }

    &-box {
      flex: 1 1 auto;
    }

    &-handle {
      flex:  0 0 5px;

      &:hover {
        background-color: var(--bs-gray-200);
      }
    }
  }

  &__notes {
    .text-editor-component {
      width: 100%;
    }

  }

}
