<%= form_with(model: gaming_group) do |form| %>
  <%= render RecordFormWrapperComponent.new(record: gaming_group, form:) do |component| %>

    <% component.with_fields do %>
      <div class="form-floating">
        <%= form.text_field :name, class: "form-control", placeholder: "Your Groups Name" %>
        <%= form.label :name %>
      </div>

    <% end %>
  <% end %>
<% end %>
