<%= form_with(model: gaming_group) do |form| %>
  <%= render RecordFormWrapperComponent.new(record: gaming_group, form:) do |component| %>

    <% component.with_fields do %>
      <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>
      </div>

    <% end %>
  <% end %>
<% end %>
