<%= render @gaming_group %>

<div>
  <%= link_to "Edit this gaming group", edit_gaming_group_path(@gaming_group) %> |
  <%= link_to "Back to gaming groups", gaming_groups_path %>

  <%= button_to "Destroy this gaming group", @gaming_group, method: :delete %>
</div>
