<% content_for :title, "Units" %>

<h1>Units</h1>

<div id="units">
  <% @units.each do |unit| %>
    <%= render unit %>
    <p>
      <%= link_to "Show this unit", army_list_unit_path(@army_list, unit) %>
    </p>
  <% end %>
</div>

<%= link_to "New unit", new_army_list_unit_path(@army_list) %>