<p>
  <strong>Name:</strong>
  <%= campaign.name %>
</p>
<p>
  <strong>Gaming group:</strong>
  <%= campaign.gaming_group %>
</p>
<p>
  <strong>Game system:</strong>
  <%= campaign.game_system %>
</p>


