<div class="text-editor-render-component">
  <% blocks.each do |block| %>
    <% case block["type"] %>
    <% when "paragraph" %>
      <%= content_tag :p, block["data"]["text"].html_safe %>
    <% when "header" %>
      <%= content_tag "h#{block["data"]["level"]}", block["data"]["text"].html_safe %>
    <% when "list" %>
      <%= render_list(block["data"]) %>
    <% end %>
  <% end %>
</div>