.world-view-wrapper {
  margin: 2em 0;
  padding: 1em;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  // filter: url(#wavy2);
  // https://stackoverflow.com/questions/14585101/old-paper-background-texture-with-just-css
}

