<div class="bg-body-tertiary rounded-3 p-3">

  <%= render Common::TabsSectionComponent.new do |tab_section|%>
    <% tab_section.with_tab(label: "Upcoming") do %>
      <% @gaming_group.gaming_sessions.upcoming.order(:start_time).each do |session| %>
        <div class="card mb-1">
          <div class="card-body">
            <%= link_to(l(session.start_time), gaming_group_gaming_session_path(@gaming_group, session)) %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% tab_section.with_tab(label: "Previous") do %>
      <% @gaming_group.gaming_sessions.previous.limit(10).order(start_time: :desc).each do |session| %>
        <div class="card">
          <div class="card-body">
            <%= link_to(l(session.start_time), gaming_group_gaming_session_path(@gaming_group, session)) %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% tab_section.with_tab(label: "Calendar") do %>
      Coming soon...
    <% end %>
  <% end %>

  <div class=mt-2>
    <%= link_to "New Session", new_gaming_group_gaming_session_path(@gaming_group), class: "btn btn-primary" %>
  </div>

</div>