<% content_for :title, "Locations" %>

<div id="locations">
  <%= turbo_frame_tag :locations do %>
    <ul class="list-group mb-2">
      <% @locations.each do |location| %>
          <%= render Locations::ListItemComponent.new(location:) %>
      <% end %>
    </ul>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>
</div>
