<div class="rounded-pill py-2 px-4" style="background-color: <%= badge_colors[:background] %>">
  <div class="d-flex flex-column" style="color: <%= badge_colors[:font] %>">
    <span class="small"><strong><%= @character.full_name %></strong></span>
    <span class="small"><%= @user.display_name %></span>
  </div>
</div>